.contact {
    background-color: #242424;
    width: 100vw !important;
    display: flex;
    justify-content: center;
    position: relative;
}
.contact > div {
    width: 1200px;
}
.row {
    display: flex;
    justify-content: space-between;
}
.col {
    width: 40%;
}

.row:nth-child(1) {
    min-height: 327px;
    height: auto;
    margin-top: 84px;
}
.row:nth-child(2) {
    margin-top: 92px;
    border-top: 1px solid #FFFFFF;
    padding-top: 47px;
    padding-bottom: 92px;
}

/* Contact text */
.col h1 {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
    margin: 0 0 36px 0;
}
.col p {
    width: 445px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}
.col img {
    position: absolute;
    left: -150px;
}
/* Form */
.row form {
    display: flex;
    flex-direction: column;
    width: 445px;
}
.row form textarea, .row form input {
    width: 100%;
    border: none;
    background-color: transparent;
    padding-bottom: 16px;
    padding-left: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.22px;
}
.row form textarea:focus, .row form input:focus {
    outline: none;
}
.row form textarea {
    resize: none;
}
.formGroup {
    margin-bottom: 32px;
}
.inputGroup {
    /* position: relative; */
    display: flex;
    border-bottom: 1px solid #FFFFFF;
}
.inputGroup:focus-within {
    border-bottom: 1px solid #4EE1A0;
}
/* Error */
.error {
    color: #FF6F5B;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.17px;
    margin: 0;
    text-align: end;
}
.errorCircle {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF6F5B;
    border-radius: 50%;
    color: #FF6F5B;
    /* position: absolute;
    right: 10px;
    top: 0; */
}
/* Send button */
.row form a {
    align-self: flex-end;
    border-bottom: 2px solid #4EE1A0;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.29px;
    margin-top: 32px;
    cursor: pointer;
}
.row form a:hover {
    color: #4EE1A0;
}
/* links bar */
.row:nth-child(2) p {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.44px;
    margin: 0;
    cursor: pointer;
}
.link {
    width: 192px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}
.link img:hover {
    cursor: pointer;
    filter: invert(35%) sepia(57%) saturate(461%) hue-rotate(89deg) brightness(92%) contrast(90%);
}

/* Tablet */
@media only screen and (max-width: 1280px) {
    .contact main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .col:nth-child(1) {
        width: 445px;
        text-align: center;
    }
    .row:nth-child(1) {
        margin-top: 60px;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .col img {
        bottom: 200px;
        left: -350px;
    }
    .row:nth-child(2) {
        width: 90%;
    }
    .link {
        margin-right: 0;
    }
}

/* Phone */
@media only screen and (max-width: 576px) {
    .contact main {
        width: 100%;
    }
    .row, .col:nth-child(1), .col p {
        width: 100%;
    }
    .col h1 {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.14px;
    }
    .col p {
        font-size: 16px;
        line-height: 26px;
        padding: 0 30px;
    }
    .row form {
        margin-top: 50px;
        width: 90vw;
    }
    .col img {
        bottom: 275px;
    }
}