/* skills */
.skills {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 90%;
}
.line {
    margin-top: 104px;
}
.line:nth-of-type(2) {
    display: none;
}
/* languages */
.skills .box {
    width: 30%;
    margin-top: 58px;
    margin-right: 35px;
}

.box h2 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;
    margin: 0 auto;
}

.box p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.rings {
    position: absolute;
    bottom: -50px;
    left: 68vw;
}

@media only screen and (max-width: 1600px){
    .rings {
        left: 100%;
        right: -500px;
    }
}


/* Clip off rings on right side when on tablet and phone */
@media only screen and ((orientation: portrait) or (orientation: landscape)) {
    .rings{
        clip: rect(0, 300px, 129px, 0);
    }
}
/* Tablet */
@media only screen and (max-width: 1280px) {
    .skills {
        margin: 0 auto;
        padding-bottom: 100px;
        margin-top: 0;
        width: 90%;
    }
    .skills .box {
        width: 45%;
    }
    .line {
        width: 90%;
    }
    .rings {
        position: absolute;
        left: 79%;
        bottom: 50px;
        /* clip: rect(0, 300px, 129px, 0); */
    }
}

@media only screen and (max-width: 1080px) and (orientation: landscape){
    .rings {
        left: 75%;
    }
}
/* For Phone portrait only */
@media only screen and (max-width: 992px) and (orientation: portrait){
    .rings {
        left: 69%;
        right: 0px;
    }
}
/* For Phone landscape only */
@media only screen and (max-width: 992px) and (orientation: landscape){
    .rings {
        left: 69%;
    }
}
@media only screen and (max-width: 812px){
    .rings {
        left: 64%;
    }
}
@media only screen and (max-width: 768px) and (orientation: portrait){
    .skills {
        padding-bottom: 0;
        justify-content: center;
    }
    .skills .box {
        text-align: center;
        margin-top: 40px;
    }
    .box h2 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -1px;
    }
    .box p {
        margin: 0;
        font-size: 16px;
        line-height: 26px;
    }
    .line {
        margin-top: 80px;
    }
    .line:nth-of-type(2) {
        display: block;
        margin-top: 40px;
        margin-bottom: 80px;
    }
    .rings {
        bottom: -100px;
    }
}
/* Phone */
@media only screen and (max-width: 576px) and (orientation: portrait){
    .rings {
        left: 51%;
        clip: rect(0, 200px, 200px, 0);
    }
}
@media only screen and (max-width: 400px) and (orientation: portrait){
    .rings {
        left: 47%;
    }
}